.topic-list {
  .topic-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 136rpx;
    margin-bottom: 40rpx;
    padding-left: 32rpx;
    padding-right: 24rpx;

    .topic-logo {
      width: 136rpx;
      height: 136rpx;
      border-radius: 2rpx;
    }

    .info {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 48rpx 0 18rpx;

      .topic-name {
        font-size: 30rpx;
        font-weight: 500;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      .topic-sub {
        font-size: 24rpx;
        color: #92969a;
        display: inline-flex;
        align-items: center;

        .icon {
          width: 28rpx;
          height: 28rpx;
          margin-right: 5rpx;

          &:nth-of-type(2) {
            margin-left: 32rpx;
          }
        }
      }
    }

    .radio-icon {
      width: 48rpx;
      height: 48rpx;
    }
  }

  .list-no-more {
    width: 100%;
    text-align: center;
    font-size: 26rpx;
    font-family: SourceHanSansSC-Normal, SourceHanSansSC;
    font-weight: 400;
    color: #909ca8;
    padding-bottom: 50rpx;
  }
}
