.group-record {
  position: relative;
  padding-top: 110rpx;

  .tabs {
    width: 100vw;
    position: fixed;

    /*  #ifdef  MP-WEIXIN  */
    top: 0;
    /*  #endif  */

    /*  #ifdef  H5  */
    top: 88rpx;
    /*  #endif  */
    background: #fff;
    z-index: 999;
  }

  .no-topic {
    text-align: center;
    margin-top: 400rpx;

    image {
      width: 144rpx;
      height: 144rpx;
    }

    .text {
      color: #909ca8;
      font-size: 26rpx;
    }
  }
}
