.content-launch {
  height: 100vh;
  padding: 0 40rpx;
  &-textarea-value,
  &-error-tips {
    width: 100%;
    height: 200rpx;
    min-height: 200rpx;
  }
  .ql-editor.ql-blank:before {
    font-style: normal;
    color: #bababa;
    font-size: 32rpx;
  }
  &-images {
    background: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 52rpx;
    &-choose {
      // width: 196rpx;
      // height: 196rpx;
      position: relative;
      margin: 0 10rpx 20rpx 0;
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        margin-right: 0;
      }
    }
    &-remove {
      width: 40rpx;
      height: 40rpx;
      position: absolute;
      top: 8rpx;
      right: 8rpx;
    }
    &-warn {
      position: absolute;
      top: 62rpx;
      right: 62rpx;
      color: #f04440;
      opacity: 0.9;
    }
    &-upload {
      width: 196rpx;
      height: 196rpx;
      margin-bottom: 20rpx;
    }
  }
  &-group {
    margin-top: 32rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32rpx;
    border-bottom: 1rpx solid #e4e7ea;
    &-icon {
      width: 40rpx;
      height: 40rpx;
      margin-right: 32rpx;
    }
    &-name {
      font-size: 32rpx;
      font-family: SourceHanSansSC-Regular, SourceHanSansSC;
      font-weight: 400;
      color: #4e6175;
      flex: 1;
    }
    &-arrow {
      width: 32rpx;
      height: 32rpx;
    }
  }
  &-tips {
    position: absolute;
    color: #f04440;
    margin-top: 32rpx;
  }
  &-option {
    position: absolute;
    margin-top: 108rpx;
    width: calc(100% - 80rpx);
    &-button {
      width: 100%;
      height: 88rpx;
      line-height: 88rpx;
      border-radius: 2rpx !important;
      font-size: 32rpx;
      font-family: SourceHanSansSC-Normal, SourceHanSansSC;
      font-weight: 400;
      color: #ffffff !important;
      border: none !important;
      outline: none !important;
      &-disabled {
        background-color: #bababa !important;
      }
      &-active {
        background-color: #1a1a1a;
      }
      &::after {
        border: none;
      }
    }
  }
}
.clearSafePadding ::v-deep .uni-popup .uni-popup__wrapper-box {
  padding-bottom: 0 !important;
}
