.page-header {
  position: fixed;
  z-index: 999;
  background: transparent;
  width: 100vw;

  .icons {
    padding-left: 36rpx;
    position: relative;
    padding-top: 10rpx;

    .back-icon {
      width: 64rpx;
      height: 64rpx;
      z-index: 1000;
      position: relative;
      margin-right: 24rpx;
    }

    .add-icon {
      width: 64rpx;
      height: 64rpx;
      z-index: 1000;
      position: relative;
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 10rpx;
      width: 100vw;
      height: 72rpx;
      display: flex;
      align-items: center;
      justify-content: center;

      .mid {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 300rpx;
        color: #292c2e;
        font-size: 34rpx;
        text-align: center;
      }
    }
  }
}
