.mask-image {
  position: relative;
  width: 328rpx;
  height: 176rpx;
  border-radius: 4px;
  overflow: hidden;

  .image {
    width: 100%;
    height: 100%;
  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 24rpx;
    background: linear-gradient(315deg, rgb(78 97 117 / 40%) 0%, #4e6175 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 30rpx;
      line-height: 40rpx;
      font-weight: 500;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: pre-line;
    }

    .subtitle {
      font-size: 24rpx;
      line-height: 36rpx;
      font-weight: 400;
      color: #edeff1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
