.btn-area {
  position: relative;
  display: inline-block;

  .add-icon {
    width: 62rpx;
    height: 62rpx;
  }

  .add-icon-click-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
  }
}

.wallpaper {
  .bg {
    width: 100vw;
    height: 392rpx;
    display: block;
  }
}

.main {
  background: #fff;
  border-top-left-radius: 24rpx;
  border-top-right-radius: 24rpx;
  transform: translateY(-72rpx);
  padding: 0 40rpx;

  .group-header {
    position: relative;
    transform: translateY(-102rpx);

    .group-logo {
      image {
        width: 196rpx;
        height: 144rpx;
        display: block;
        border-radius: 4rpx;
      }

      padding-bottom: 22rpx;
    }

    .group-title {
      padding-bottom: 11rpx;
      padding-right: 120rpx;

      .title {
        font-size: 40rpx;
        color: #1a1a1a;
        font-weight: bold;
      }

      .nums {
        display: flex;
        align-items: center;
        font-size: 32rpx;
        color: #92969a;
        line-height: 1.5;

        .item {
          display: flex;
          align-items: center;
          margin-right: 24rpx;
        }
      }
    }

    .follow {
      position: absolute;
      top: 206rpx;
      right: 0;

      .btn {
        width: 128rpx;
        height: 64rpx;
        font-size: 26rpx;
        line-height: 64rpx;
        text-align: center;
        background-color: #4e6175;
        color: #fff;

        &.isin {
          background-color: #fff;
          color: #92969a;
          border: 1px solid #f2f3f3;
          line-height: 62rpx;
        }

        &.isre {
          background-color: #bababa;
          color: #f2f3f3;
          border: 1px solid #f2f3f3;
          line-height: 62rpx;
        }

        &.manage {
          font-size: 30rpx;
          background-color: #fff;
          color: #4e6175;
          border: 2rpx solid #4e6175;
          line-height: 62rpx;
          border-radius: 4rpx;
        }
      }
    }

    .group-intro {
      position: relative;

      .intro {
        font-size: 28rpx;
        color: #92969a;
        line-height: 1.5;
      }

      .intro-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 600rpx;
      }

      .intro-ctrl {
        font-size: 28rpx;
        color: #4e6175;
        line-height: 1.5;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .group-member {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40rpx 0;
      border-bottom: 1rpx solid #e4e7ea;

      .members {
        display: flex;

        image {
          width: 56rpx;
          height: 56rpx;
          border-radius: 50%;
          display: block;
          margin-right: -12rpx;
          background: #fff;
        }
      }

      .right-icon {
        width: 24rpx;
        height: 24rpx;
        display: block;
      }
    }
  }

  .group-content-list {
    .content-item {
      margin-bottom: 93rpx;
    }

    .list-no-more {
      width: 100%;
      text-align: center;
      font-size: 26rpx;
      font-family: SourceHanSansSC-Normal, SourceHanSansSC;
      font-weight: 400;
      color: #909ca8;
      padding-bottom: 50rpx;
    }
  }
}
