.choose-location {
  padding: 43rpx 40rpx;

  // margin: 43rpx 0;
  .item {
    padding: 18rpx 0 27rpx;
    display: inline-flex;
    border-bottom: 1rpx solid #e4e7ea;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    .location-info {
      flex: 1;

      .title {
        font-size: 32rpx;
        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
        font-weight: 400;
        color: #292c2e;
      }

      .address {
        font-size: 26rpx;
        font-family: SourceHanSansSC-Regular, SourceHanSansSC;
        font-weight: 400;
        color: #92969a;
      }
    }

    .img {
      .radio-icon {
        width: 48rpx;
        height: 48rpx;
      }
    }
  }

  .no-topic {
    text-align: center;
    margin-top: 400rpx;

    image {
      width: 144rpx;
      height: 144rpx;
    }

    .text {
      color: #909ca8;
      font-size: 26rpx;
      font-family: SourceHanSansSC-Normal, SourceHanSansSC;
    }
  }
}
